name: Rust CI

on: [push, pull_request]

jobs:
  build:
		name: Running on ${{ matrix.os }}
		runs-on: ${{ matrix.os }}

		strategy:
			matrix:
				os:
					- ubuntu-latest
					- windows-latest
					- macos-latest

		steps:
			- name: Installing Rust
				uses: hecrj/setup-rust-action@v1
				with:
					rust-version: 1.47.0

			- uses: actions/checkout@v2

			- name: Versions
				run: |
					rustc --version
					cargo --version

			- name: Testing
				run: cargo test --release

			- name: Pre-release (Build)
				if: startsWith(github.ref, 'refs/tags/v')
				run: cargo build --release

			- name: Pre-release (Ubuntu)
				if: |
					startsWith(github.ref, 'refs/tags/v') &&
					startsWith(matrix.os, 'ubuntu')
				run: zip -r sflyn-x86_64-unknown-linux-gnu.zip target/release/sflyn

			- name: Pre-release (Windows)
        if: |
					startsWith(github.ref, 'refs/tags/v') &&
					startsWith(matrix.os, 'windows')
        run: Compress-Archive -CompressionLevel Optimal -Force -Path target/release/sflyn.exe -DestinationPath target/release/sflyn-x86_64-pc-windows-msvc.zip

			- name: Pre-release (MacOS)
				if: |
					startsWith(github.ref, 'refs/tags/v') &&
					startsWith(matrix.os, 'macos')
				run: zip -r sflyn-x86_64-apple-darwin.zip target/release/sflyn

			- name: Release
				uses: softprops/action-gh-release@v1
				if: |
					startsWith(github.ref, 'refs/tags/v') &&
					github.repository == 'sflynlang/sflynlang-compiler'
				env:
					GITHUB_TOKEN: ${{ secrets.GIHUB_TOKEN }}
				with:
					files: |
						target/release/sflyn-x86_64-unknown-linux-gnu.zip
            target/release/sflyn-x86_64-pc-windows-msvc.zip
            target/release/sflyn-x86_64-apple-darwin.zip
					body_path: CHANGELOG.md
					draft: true

			- name: Publish to Cargo
				if: |
					startsWith(github.ref, 'refs/tags/v') &&
					github.repository == 'sflynlang/sflynlang-compiler' &&
					startsWith(matrix.os, 'ubuntu')
				env:
					CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
				run: |
					cd compiler
					cargo publish
					sleep 30
					cd ../parser
					cargo publish
					sleep 30
					cd ../core
					cargo publish
